/*global styles */
/*margin editing done in normalize.css -gs*/
*{
  font-family: Arial, Helvetica, sans-serif;
  /* outline-style: solid; /*TODO: add these to template*/
  /* outline-width: 1px;
  outline-color:red; */
}
hr{
  border-style:solid;
  border-color:lightgray;
  border-width: 1px;
  width:auto;
  margin:20px 5px;
}
/*body styles*/
#container{
  min-height:500px;
  width:970px;
  margin:auto;     /*TODO: add these to template*/
}
  #title_block{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
  }
    #title_block img{
      width:15%;
      height:auto;
    }
    #title_block h1{
      margin-right: 500px;
    }
    #title_block h2{
      background-color: blue;
      color:white;
      margin-top:-20px;
    }
  #main_block{
    display:flex;
    justify-content:space-evenly;
  }
    #left_side_main{
      flex:1;
      display:flex;
      flex-direction: column;
    }
      #watch_video_button{
        background-color: turquoise;
      }
      #more_resources_button{
        background-color: orange;
      }
      #left_side_main a{
        padding: 20px 30px;
        border-radius: 10px;
        filter:drop-shadow(3px 3px 2px black);
        color:white;
        text-align:center;
        text-decoration:none;
        margin:5px;
      }
        #ad_block{
          background:url("../img/ad_background.png") no-repeat left top;
          display:flex;
          flex-direction:column;
          align-items: center;
        }
          #ad_block h3{
            color:white;
          }
          #ad_block img{
            width:50%;
          }
          #ad_block a{
            background-color: teal;
          }

    .right_side_main{
      flex:4;
      display:flex;
      flex-direction:column;
      margin-left:50px;
    }
      .right_side_header{
        display:flex;
        justify-content: space-between;
      }
        #phone_badge{
          width:80px;
          height:80px;
          margin: auto 10px;
        }
        #dns_container{
          flex:20;
          display:flex;
          align-items: center;
          margin-bottom:auto;
        }
          #dns_container img{
            width:25px;
            height:25px;
            margin: 10px 10px;
          }
      #phone_card{
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
      }
    .right_side_main h1{
      color:#2869a1;
      font-size: 130%;
    }
    .right_side_main p,.right_side_main li{
      margin: 10px 0px;
    }
    .right_side_main img{
      width:350px;
      align-self:center;
      margin: 10px 0px;
    }
    #big_three_box{
      display:flex;
      padding-top:10px;
      padding-left:20px;
    }
      #big_three_box img{
        width:150px;
        margin-right:10px;
      }
      #big_three_box h1{
        margin-top:10px;
      }



        

